<h1>New Creature</h1>

<%= form_for :creature, url: creatures_path do |c| %>
  <% if @creature.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@creature.errors.count, "error") %>
        prohibited this creature from being saved:
      </h2>
      <ul>
        <% @creature.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= c.label :name %><br>
    <%= c.text_field :name %>
  </p>

  <p>
    <%= c.label :text %><br>
    <%= c.text_area :text %>
  </p>

  <p>
    <%= c.submit %>
  </p>
<% end %>

<%= link_to 'Back', creatures_path %>
